server {
    listen {{nginx_bind_ip}}:80;
    server_name {{nginx_bind_ip}};

    location = /favicon.ico { access_log off; log_not_found off; }

    location / {
        proxy_pass http://{{app_bind_ip}}:8000;
    }

    location /internal {
{% for ip in internal_ips %}
        allow {{ ip }};
{% endfor %}  
        deny all; 
        proxy_pass http://{{app_bind_ip}}:8000;
    }

    location /cached {
        proxy_cache default_cache;
        proxy_cache_use_stale error timeout http_500 http_502 http_503 http_504;
        proxy_buffering on;
        proxy_ignore_headers Expires;
        proxy_ignore_headers X-Accel-Expires;
        proxy_ignore_headers Cache-Control;
        proxy_ignore_headers Set-Cookie;

        proxy_hide_header X-Accel-Expires;
        proxy_hide_header Expires;
        proxy_hide_header Cache-Control;
        proxy_hide_header Pragma;

        add_header X-Proxy-Cache $upstream_cache_status;
        proxy_pass http://{{app_bind_ip}}:8000;
    }
}
